body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 75px;
    background-color: #1F2937;

    /* border: dotted red 1px; */
}

.header-logo img{
    width: 75px;

    /* border: dotted red 1px; */
}

.header-links ul {
    list-style: none;
    display: flex;
    gap: 50px;

    /*border: dotted red 1px; */
}

a {
    text-decoration: none;            
    color: #F9FAF8;

    /*border: dotted red 1px; */
}

button {
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 75px;
    gap: 50px;
    background-color: #1F2937;
    color: white;

    /* border: dotted red 1px; */
}

.title {
    font-size: 48px;
}

.hero-img img {
    height: 300px;
}

.info-container {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 50px;
    gap: 50px;
    text-align: center;
}

.secondary-title {
    font-size: 24px;
    text-align: center;
    padding: 25px;
}

.info-img {
    border: solid #3882f6 3px;
    border-radius: 10%;
    width: 150px;
}

.info-text {
    width: 150px;
}